<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence">
  <persistence-unit name="hibernate-persistence" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>HotelLucena</jta-data-source>
    <class>br.rio.puc.inf.les.model.Categoria</class>
    <class>br.rio.puc.inf.les.model.Usuarios</class>
    <class>br.rio.puc.inf.les.model.Apartamento</class>
    <class>br.rio.puc.inf.les.model.Reservas</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.ddl-generation.output-mode" value="database"/>
      <property name="eclipselink.cache.shared.default" value="false"/>
      <property name="eclipselink.weaving" value="static"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/HotelLucena"/>
      <property name="javax.persistence.jdbc.password" value="pss2016"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="Lucena"/>
    </properties>
  </persistence-unit>
</persistence>
